.header {
    background-image: linear-gradient(0,#fe6233,#f6412e);
    height: var(--header-height);

}

.nav {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}
.header__nav-list{
    padding-left: 0;
    display: flex;
}
.header__nav-item {
    display: inline-block;
    list-style: none;
    margin: 0 8px;
    position: relative;
}


.header__navbar-user{
    display: flex;
    align-items: center;
}
.header__navbar-user:hover .my-account {
    display: block;
}
.my-account {
    position: absolute;
    top: 135%;
    right: 0;
    width: 200px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 0 3px #666;
    display: none;
    
}
.my-account::before {
    content: "";
    border-width:10px 15px ;
    border-style:  solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    display: block;
    right: 12px;
    top: -20px;
    z-index: 0;
}
.my-account__list {
    list-style: none;
    padding: 0;
}
.my-account__list li {
    color: #000;
    font-weight: 400;
    display: block;
    line-height: 30px;
    padding: 8px 8px 8px 24px;
}
.my-account__list li:hover{
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
.my-account__list a {
    color: green;
    text-decoration: none;
}

.header__navbar-user p{
    margin-left: 8px;
}
.header__navbar-user img {
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.2);
   
}
.header__nav-item, .header__nav-item-link{
    color: var(--white-color);
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 300;
}
.header__nav-item:hover,
.header__nav-item-link:hover,
.header__nav-icon-link:hover{
    color: rgba(255,255,255,0.8);
    cursor: pointer;

}
.header__nav-item-separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    border-left: 1px solid #fa7d70 ;
    top: 20%;
    right: -8px;
}
.header__nav-item-strong {
    font-weight: 500;
}
.header__nav-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__nav-icon {
    font-size: 1.6rem;
    margin: 0 4px;
}
.header__nav-item span {
    color: var(--white-color);
    cursor: text;
}

/* Header QR */
.qr-shope:hover .qr-header {
    display: block;
    animation: fadeIn linear 0.5s;
}
.qr-header {
    background-color: var(--white-color);
    width: 186px;
    left:0;
    top: 140%;
    position: absolute;
    padding: 8px;
    display: none;
}
.qr-header::before{
    content:"";
    height: 20px;
    width: 100%;
    display: block;
    /* background-color: #000; */
    position: absolute;
    top:-8px;
    left: 0;
}
.qr-code {
    width: 100%;
}
.qr-body {
    display: flex;
}
.list-app {
    justify-content: space-between;
}
.list-app:nth-child(1) {
    padding-left: 11px;
}
.list-app:nth-child(2) {
    padding-right: 11px;
}
.link-app {
    width: 100%;
}

/* Header-Thông báo */
.notify::before {
    content: "";
    border-width:20px 30px ;
    border-style:  solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    display: block;
    right: 12px;
    top: -30px;

}
.notify {
    position: absolute;
    width: 460px;
    background-color: #fff;
    border: 1px solid #ccc;
    top:120%;
    right: 0;
    transform-origin: 90% top;
    animation: headerNotifyGrowth ease-in 0.2s;
    display: none;
    will-change: opacity, transform;
    z-index: 1;
}
.header__nav-item--has-notify:hover .notify {
    display: block;
}
@keyframes headerNotifyGrowth {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
    
}
.notify-header {
    cursor: default;
}

.notify-header h3 {
    color:#999;
    padding: 6px 20px;
    font-weight: 400;
    cursor: text;
    user-select: none;
}
.list-notify {
    padding: 0;
}
.link-notify:hover {
    background-color: #fccac5;
}
.link-notify {
    display: flex;
    padding: 6px 12px;
    text-decoration: none;
}
.link-notify img {
    width: 60px;
    object-fit: contain;
    margin-right: 12px;
}
.notify-body .text-strong {
    font-weight: 400;
}
.notify-body p {
    color:#222;
}
.notify-footer p {
    color: #000;
    text-align: center;
    
}
/* Modal */
.modal{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(0,0,0,0.3);
    animation: fadeIn linear 0.1s;
    /* display: none; */

}
/* .modal__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
} */
.modal__body {
    --growth-from: 0.7;
    --growth-to: 1; 
    background-color: #fff;
    margin: auto;
    z-index: 1;
    border-radius: 5px;
    animation: growth linear 0.1s;
    /* box-shadow: 1px solid #ccc; */
    /* display: relative; */
    
}
.auth-form {
    width: 484px;
    margin: 12px;
}
.auth-form__header {
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
    text-align: center;
}
.auth-form__header a {
    text-decoration: none;
    color: var(--text-color);
}
.auth-form__header h5 {
    color: var(--primary-color);
}
.auth-form__form {
    margin-top: 6px;
    margin-bottom: 6px;
}
.auth-form__form--input {
    width: 100%;
    margin: 4px;
    border-radius: 3px;
    font-size: 1.5rem;
    line-height: 30px;
    padding: 0 12px;
    outline: none;
    border: 1px solid #ccc;
}
.auth-form__aside {
    margin-top: 30px;
}
.auth-form__aside p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 20px;
}
.auth-form__aside a {
    text-decoration: none;
    color: #fe6233;
}
.btn {
    min-width: 142px;
    height: 36px;
    font-size: 1.6rem;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    color: var(--text-color);
    background-color: #fff;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1.6rem;
}
.btn.btn--normal:hover {
    background-color: rgba(0,0,0,0.2);
}
.btn.btn--primary {
    color: white;
    background-color: var(--primary-color);
}
.btn-size-s {
    height: 30px;
    font-size: 1.3rem;
    margin: 0 4px;
}

.auth-form__btn {
    padding-top: 60px;
    display: flex;
    justify-content: flex-end;
    right: 0;
}
.auth-form__btn--back {
    margin-right: 8px;
}
.auth-form__socials {
    margin: 24px 0 0;
    background-color: #eee;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    
}

.icon-fa i {
   color: #fff;
}
.icon-fa {
    color: #fff;
    background-color: #1877f2;
}
.auth-form__socials i {
    font-size: 1.8rem;
}
.auth-form__socials span {
    margin: 0 36px;
}
.icon-gg {
    background-color: #fff;
    color: #666;
}
.modal__inner {
    overflow: hidden;
}
.auth-form__help {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
}
.auth-form__help span { 
    display: block;  
    border-left: 1px solid var(--text-color);
    margin: 0 12px;
}
.forgot {
    color: var(--primary-color);
}


.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}
.header__logo {
    margin-right: 36px;
}
.header__logo-img {
    /* height: 60px; */
    width: 150px;
}
.header__search {
    height: 40px;
    background-color: #fff;
    border-radius: 2px;
    flex: 1;
    display: flex;
    align-items: center;
}
.header__seaerch-input-wrap {
    flex: 1;
    position: relative;

}
.header__search-history {
    display: block;
    position: absolute;
    width: calc(100% - 16px);
    background-color: #fff;
    top: 105%;
    border-radius: 3px;
    box-shadow: 0 0 3px #666;
    display: none;

}
.header__search-history h3 {
    padding-left: 12px;
    opacity: 0.6;
}
.header__search-history-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header__search-history-list li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 30px;
    padding-left: 12px;
}
.header__search-history-list li:hover {
    cursor: pointer;
    background-color: #eee;
}

.input-search {
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 3px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;

}
.input-search:focus ~ .header__search-history {
    display: block;
}
.header__search-select {
    display: flex;
    align-items: center;
    border-left: 1px solid #ccc;
    font-size: 1.4rem;
    height: 30px;
    padding: 0 8px;
    position: relative;
    cursor: pointer;    
}
.header__search-select i {
    font-size: 1.4rem;
    padding: 0 6px;
}

.header__search-select:hover .header__search-option{
    display: block;
    cursor: pointer;
    animation: fadeIn ease-in 0.2s;
}

.btn-search button {
    background-color: var(--primary-color);
    outline: none;
    border: none;
    height: 34px;
    margin-right: 2px;
    border-radius: 3px;
    width: 60px;
}
.btn-search i {
    color: #fff;
    font-size: 1.4rem;
}
.btn-search:hover button {
    opacity: 0.8;
    cursor: pointer;
}

.header__search-option::before {
    content: "";
    display: block;
    right: 0;
    width: 150px;
    height: 20px;
    top: -20%;
    /* background-color:red; */
    position: absolute;
}
.header__search-option {
    display: none;
    position: absolute;
    right: 0;
    top:80%;
    list-style: none;
    padding: 0;
    width: 150px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header__search-option-item {
    height: 40px;
    padding-left: 20px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    
}
.header__search-option-item:hover {
    background-color: #eee;
}
.header__search-option-item i {
    color: var(--primary-color);
    padding-left: 20px;
}
.header__search-option-item .off {
    display: none;
}
.header__cart {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.header__cart i {
    color: #fff;
    font-size: 2.4rem;
   
}
.header__cart:hover .cart-notify {
    display: block;
}
.cart-notify::before {
    content: "";
    border-width:16px 16px ;
    border-style:  solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    display: block;
    right:0px;
    top:-25px;
    cursor: pointer;
}
.cart-notify {
    position: absolute;
    background-color: #fff;
    width: 400px;
    top:105%;
    right: 58px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform-origin: 90% top;
    animation: headerNotifyGrowth ease-in 0.2s;
    display: none;
    border-radius: 2px;
    /* text-align: center; */
   
}
.header__cart-no-cart-img-msg {
    margin-top: 12px;
    font-size: 1.4rem;
    color: var(--text-color);
    display: none;
    width: 100%;

}
.header__cart-notice {
    color: var(--primary-color);
    font-size: 1.4rem;
    padding: 2px 8px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    /* line-height: 16px; */
    top: -3px;
    right: 40px;
    border: 2px solid #EE4D2D;
}
.no-cart {
    padding: 28px 0;
}
.no-cart .header__cart-no-cart-img-msg,
.no-cart .header__cart-no-cart-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
.header__cart-no-cart-img {
    width: 56%;
    display: none;

}
.cart-notify h5 {
    padding: 0 12px;
    font-size: 1.4rem;
    opacity: 0.6;
    font-weight: 450;
    margin: 10px 0;
}
.list-product {
    list-style: none;
    margin: 0;
    padding: 0;
}
.product-item {
    padding: 12px;
    display: flex;
}
.product-item:hover {
    background-color: #eee;
}
.product-item img {
    object-fit: contain;
    height: 46px;
    border: 2px solid #E8E8E8;
}
.product-heading p {
    /* margin: 0; */
    font-size: 1.4rem;
    line-height: 23px;
}
.product-heading {
    display: flex;
    justify-content: space-between;
}
.product-name {
    font-weight: 500;
    margin: 0;
    padding-right: 130px;
}
.product-multity,
.product-quantity,
.product-price {
    margin: 0;
}

.product-price {
    color: var(--primary-color);
}

.product-info {
    padding-left:  10px;
}
.product-body {
    display: flex;
    justify-content: space-between;
}
.product-body p {
    margin: 0;
    font-size: 1.4rem;
    line-height: 23px;
    
}
.product-body .product-delete:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.product-btn {
    padding: 12px;
    display: flex;
    justify-content: flex-end;
}

/* App container */
.app__container {
    background-color: #F5F5F5;
}
.app__content {
    padding-top: 36px;
}
.category {
    background-color: #fff;
    border-radius: 2px;
}
.category__heading {
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    margin-bottom: 0;
    margin-top: 0;
}
.category__heading i {
    font-size: 1.4rem;
    margin-right: 4px;
}
.category-list {
    padding-left: 5px;
    list-style: none;
    margin: 0;
}
.category-item {
    padding: 12px 0 12px 16px;
}
.category-item a {
    right: 0;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: pointer;
    position: relative;
    transition: right linear 0.1s;
}
.category-item a:hover {
    right: -4px;
    color: var(--primary-color);
}
.category-item--active .category-itemm__link{
    color: var(--primary-color);
}
.category-item--active .category-itemm__link::before {
    position: absolute;
    content: "";
    display: block;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
}

/* Home */
.home-filter {
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.04);
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter-label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
}

.select-input-price {
    position: absolute;
    min-width: 100%;
    top:102%;
    right: 0;
    background-color: #fff;
    color: var(--text-color);
    border-radius: 2px;
    display: none;

}
.select-input-price p  {
    padding: 14px 12px;
    font-size: 1.4rem;
    margin: 0;
}
.select-input-price p:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.home-filter__page {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.home-filter__page-num {
    font-size: 1.5rem;
    margin-right: 22px;
}
.home-filter__page-curent {
    color: var(--primary-color);
}
.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    width: 72px;
    height: 36px;
    display: flex;
}
.home-filter__page-btn{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}
.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disable i {
    color: #ccc;
}
.home-filter__page-btn i {
    font-size: 1.4rem;
    color: #555;
}

/* Product */
.home-product-item {
    margin-top: 12px;
    background-color: #fff;
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0; 
    transition: transform linear 0.1s;
    will-change: transform;
    text-decoration: none;
    display: block;

}
.home-product-item:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 20px 0; 
    transform: translateY(-1px);

}
.home-product-item__img {
    padding-top:100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}
.home-product-item__price {
    display:flex;
    
    flex-wrap: wrap;
}
.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}
.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px;
}
.home-product-item__like {
    font-size: 1.3rem;
}
i.home-product-item__like-icon-fill{
    display: none;
    color:#F63D30;
}
.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}
.home-product-item__rating {
    font-size: 0.8rem;
    color: #D5D5D5;
    margin-left: auto;
}
.home-product-item__star--gold {
    color: var(--star-color);

}
.home-product-item__sold {
    font-size: 1.2rem;
    margin-left: 6px;
    color: var(--text-color);
}
.home-product-item__origin{
    display: flex;
    margin: 0 10px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}
.home-product-item__brand {
    margin-right: auto;
}
.home-product-item__favorite {
    position: absolute;
    top:10px;
    left:-4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favorite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    display: block;
    border-top: 4px solid currentColor;
    filter: brightness(60%);
    border-left:4px solid transparent;
}
.home-product-item__favorite span {
    color: #fff;
}
.home-product-item__favorite i{
    color: #fff;
    font-size: 0.9rem;
    margin: 0 3px 0 4px;
}
.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(255,216,64,0.9);
    width: 40px;
    height: 36px;
    text-align: center;
}
.home-product-item__sale-of-percent {
    color: #EE4D2D;
    font-weight: 500;
    font-size: 1.3rem;
    

}
.home-product-item__sale-off::after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    bottom:-6px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: red  rgba(255,216,64,0.9) transparent  rgba(255,216,64,0.9);

}
.home-product-item__sale-off-label {
    color: #fff;
    font-size: 1.2rem;
    
}